@charset "utf-8";

/*全体の設定(モバイルファースト)
---------------------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #292929;
  margin: 0;
  /* padding: 2rem; */
  font: 16px/1.0
  "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

html {
  font-size: 62.5%;
}


#battle-faze {
  display: none;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
  /* background-color: #8e8e8e; */
}

#enemy-area {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#hp-flame {
  border: 1px solid #8e8e8e;
}

#hp-bar {
  /* hpゲージ */
  width: 100%;
  height: 3rem;
  background-color: aquamarine;
}



#enemy-area img {
  width: 100%;
}



#attack-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #d5d1d1;
  color: #ffffff;
  width: 4rem;
  height: 4rem;
  padding: 2rem;
  border-radius: 50%;
  transition: all 0.4s;
}
#attack-btn img {
  width: 4rem;
  transform: rotate(-90deg);
}

#attack-btn:hover {
  background-color: #e3e3e3;
}




a {
  cursor: pointer;
}


/* 攻撃時の血 */
#blood {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
}

.blood-element {
  display: none;
  transition: opacity 0.5s;
}
.blood-element.show {
  display: block;
  opacity: 1;
}




/* 結果のポップアップ */
#result {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #e1e1e1;
  border: 1px solid #292929;
}
#result p {
  padding-bottom: 1rem;
}

#result a {
  color: #292929;
  padding: 0.5rem 1rem;
}


/* トップページ ---------------*/
#top {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -2rem;
  transition: all 1s;
}

h1 {
  font-weight: 700;
  font-size: clamp(3rem,6.4vw,3.6rem);
}

#top div {
  background-color: #8e8e8e;
  width: fit-content;
  padding: 0.25rem;
  margin: 0 auto;
}

#top a {
  display: block;
  color: #fff;
  background-color: #414141;
  padding: 1rem 2rem;
}